*.dir/

*.html
/impl_1/
*.xml
.build_status

.run_manager.ini
.recovery
.spread_sheet.ini
.spreadsheet_view.ini

*.log
*.tcl
*.ccl
*.srp
*.dmp
._Real_._Math.vhd


transcript

!impl_1/e155_karaoke_impl_1.bin